.content {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 10;
    border-radius: 8px;
    background: transparent;
    overflow: visible;
}

.content__img {
    width: 250px;
    aspect-ratio: 1;
    border-radius: 12px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    overflow: hidden;
    will-change: transform, filter;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.content__img-inner {
    background-position: 50% 50%;
    width: 100%;
    height: 100%;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
}